.herobanner {
    flex-direction: column;
    padding: 5em 0;
}

.heroWidth {
    flex: 1 1 0;
}

.herobanner h1 {
    color: #FFFFFF;
    line-height: 1.2em;
    width: 100%;
    font-size: 66px;
    letter-spacing: 1.2px;
}

.buttonWrapper {
    margin-top: 40px;
}

.bannerButton {
    background-color: #48b703;
    color: #fff;
    font-size: 17px;
    padding: 12px 32px;
    border-radius: 5px;
    width: fit-content;
    letter-spacing: 0.3px;
    opacity: 1;
    transition: all 0.3s ease;
    box-shadow: none;

}

.bannerButton:hover {
    background-color: #fff;
    color: #48b703;
    opacity: 0.9;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-2px);
}

.heroImage {
    object-fit: contain;
    position: absolute;
    bottom: 0
}

@media only screen and (max-width: 980px) {
    
    .herobanner h1 { 
       font-size: 2em; 
    }
 
 }

 @media (min-width: 1536px) {
    .herobanner h1 {
        width: 90%;
    }
  }
@media (max-width: 1536px) { }
@media (max-width: 1280px) { }
@media (max-width: 1024px) {}
@media (max-width: 768px) { 
    .heroImage {
        position: unset;
    }
}
@media (max-width: 640px) {

    
 }